<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Create Puppy Table</title>
 </head>
 <body>
   <p>Puppy Name: <%= @name %></p>
   <p>Puppy Breed: <%= @breed %></p>
   <p>Puppy Age: <%= @age %></p>
 </body>
</html>
