<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Welcome Page</title>
 </head>
 <body>
   <!-- <form method="GET" action="/create_puppy"> -->
     <a href="/new">Click Here To List A Puppy</a>
   </form>
 </body>
</html>
